@(controller: de.htwg.se.minesweeper.controller.ControllerInterface)

    @height = @{
        controller.height()
    }

    @width = @{
        controller.width()
    }

    @toScalar(row: Int, col: Int) = @{
        row * height + col
    }

    @main("HTWG Minesweeper") {
        <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/minesweeper.css")' />

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">HTWG Minesweeper</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/about">About <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/new">New</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/solve">Solve</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Size
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/resize/10/10/10">Beginner</a>
                            <a class="dropdown-item" href="/resize/16/16/70">Intermediate</a>
                            <a class="dropdown-item" href="/resize/20/20/150">Expert</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="gamecontainer">
            <div class="game">
            @for(row <- 0 until height) {
                @for(col <- 0 until width) {
                    <div class="cell" id="scalar@{
                        toScalar(row, col)
                    }"></div>
                }
                <div class="clear"></div>
            }
            </div>
        </div>
    }
